<div class="main-header">
    <div class="container">
        <div class="navbar-brand">
            <img class="img-fluid" src="{{logoLink}}" alt="ApicolaLogo">
        </div>
        <div class="header-searchbox">
            <div class="search-wrapper" > 
                <input class="searchbar" type="text">
                <fa-icon [icon]="faSearch" class="icon-search"></fa-icon>
            </div>
        </div>
        <div class="icon">
            <fa-icon [icon]="faShoppingCart" class="icon"></fa-icon>
        </div>


    </div>
</div>